@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 215 28% 17%;
  --foreground-light: 0 0% 25%;
  --foreground-muted: 240 3.8% 46.1%;
  --background: 0 0% 100%;
  --primary: 211 100% 50%;
  --secondary: 240 4% 95%;
  --accent: 240 4% 95%;
}
