@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 98%;
  --foreground-light: 0 0% 65%;
  --foreground-muted: 0 0% 50%;
  --background: 140 23% 3%;
  --primary: 211 100% 32%;
  --secondary: 240 4% 18%;
  --accent: 279 100 38%;
  --ring: 0, 0%, 100%, 0.2;

  /* lightmode colors  */
  /* --foreground: 215 28% 17%;
  --foreground-light: 0 0% 25%;
  --foreground-muted: 240 3.8% 46.1%;
  --background: 0 0% 100%;
  --primary: 211 100% 50%;
  --secondary: 240 4% 95%;
  --accent: 240 4% 95%; 
   --ring: 240 3% 87%;*/
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}
