@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 98%;
  --foreground-light: 0 0% 65%;
  --foreground-muted: 0 0% 50%;
  --background: 0 0% 0%;
  --primary: 211 100% 40%;
  --secondary: 240 4% 18%;
  --accent: 240 4% 15%;
  --ring: 240 6% 23%;

  /* lightmode colors  */
  /* --foreground: 215 28% 17%;
  --foreground-light: 0 0% 25%;
  --foreground-muted: 240 3.8% 46.1%;
  --background: 0 0% 100%;
  --primary: 211 100% 50%;
  --secondary: 240 4% 95%;
  --accent: 240 4% 95%; 
   --ring: 240 3% 87%;*/
}

.test {
  color: #252525;
}
